@import "./media.css";
@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Header*/

main.main {
  background-color: #222831;
  color: #EEEEEE;
  padding: 40px 5% 0 5%;
  height: 1024px;
}

#header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

#header .menu {
  display: none;
}


.nav {
  display: flex;
}

.nav * {
  margin-left: 48px;
}

.logo_span {
  font-size: 24px;
  font-weight: bold;
  display: block;
}

#hide_span {
  display: none;
}

.logo {
  display: flex;
  flex-wrap: wrap;
}

.nav_span {
  font-size: 18px;
  color: #EEEEEE;
}

/* Main*/

#main {
  padding-top: 175px;
  display: flex;
  justify-content: space-between;
}

#creative {
  font-size: 96px;
  font-weight: bold;
  padding-bottom: 62px;
}

.Designer {
  color: #00ADB5;
}

#twobuttons {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

#hireme {
  background-color: #00ADB5;
  border-radius: 24px;
  width: 136px;
  height: 47px;
  cursor: pointer;
}

#download {
  background-color: #393E46;
  border-radius: 24px;
  width: 223px;
  height: 47px;
  cursor: pointer;
}

.button_span {
  color: #EEEEEE;
  font-size: 18px;
  font-weight: bold;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

/* #man {
  position: absolute;
  bottom: 150px;
  left: 1185px;
} */

#download_photo {
  height: 20px;
  width: 20px;
  position: relative;
}

/* About Me */

main#aboutme {
  background-color: #222831;
  color: #EEEEEE;
  padding: 275px 5% 0 5%;
  height: 1024px;
}

#aboutme_span {
  font-weight: bold;
  font-size: 64px;
  line-height: 0.9;
}

#aboutme_me {
  color: #00ADB5;
  font-size: 64px;
}

#aboutme {
  display: flex;
  justify-content: space-between;
}

#aboutme_p {
  padding-top: 30px;
  font-size: 18px;
}

/* My recent works */

main#myrecentworks {
  background-color: #222831;
  color: #EEEEEE;
  padding: 200px 5% 0 5%;
  height: 1024px;
  background-image: url("../img/Materials/Projects\ Page.png");
}

picture img {
  max-width: 100%;
  max-height: 350px;
}

#myrecentworks_h1 {
  font-size: 64px;
  font-weight: bold;
  padding-bottom: 40px;
}

#span_h1 {
  color: #00ADB5;
}

#buttons {
  display: flex;
  flex-flow: row wrap;
  height: 125px;
  align-content: space-between;
  padding-bottom: 40px;
  gap: 10px;
}

#all {
  background-color: #00ADB5;
  width: 88px;
  border-radius:24px;
  height: 47px;
  cursor: pointer;
}

#frontend {
  background-color: #393E46;
  width: 100px;
  border-radius:24px;
  height: 47px;
  backdrop-filter: blur(8px); 
  cursor: pointer;
}

#discord {
  background-color: #393E46;
  width: 88px;
  border-radius:24px;
  height: 47px;
  backdrop-filter: blur(8px);
  cursor: pointer;
}

.three_img {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: space-between;
  gap: 10px;
}

.three_img img {
  object-fit: cover;
  object-position: center;
}

.imgsec {
  margin-right: 10px;
  border-radius:24px;
  background-color:#393E46;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.imgsec * {
  height: auto;
  max-width: 100%;
}

main#mind {
  background-color: #222831;
  color: #EEEEEE;
  padding: 275px 5% 0 5%;
  height: 1024px;
  display: flex;
  justify-content: space-between;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 59px 30px 259px 30px;
  gap: 10px;
}


#urmessage {
  grid-area: 3/1/3/3;
}

#message {
  grid-area: 4/1/5/3;
  width: 100%;
}

#send {
  background-color: #00ADB5;
  border-radius: 24px;
  height: 47px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;
}


textarea {
  background-color: #393E46;
  border-radius: 15px;
  font-size: 18px;
  color: white;
}

footer#footer {
  background-color: #222831;
  color: #EEEEEE;
  padding: 110px 5% 0 5%;
  height: 400px;
}

.imgsection1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}

.oneimg span {
  margin-left:10px;
}

.imgsection2 {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 50px;
}

@media (max-width:666px) {
  #creative {
    font-size: 64px;
  }
}

@media (max-width:454px) {
  #creative {
    font-size: 56px;
  }

  #main {
    justify-content: center;
  }

  #twobuttons {
    padding-top: 108px;
  }

  #hide_span {
    display: block;
    font-size: 24px;
    font-weight: bold;

  }

  .logo_span {
    display: none;
  }
}

@media (max-width: 380px) {
  #creative {
    font-size: 46px;
  }
}


@media (max-width: 991.98px) {

  #header .nav {
    display: none;
  }

  #header .menu {
    display: block;
  }

  .text {
    margin: 0 auto;
  }

  .form {
    margin: 0 auto;
  }

}


@media (max-width: 1199.98px) {

.photo {
  display: none;
}

.text {
  margin: 0 auto;
}

.form {
  margin: 0 auto;
}

}